# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode9.2
language: objective-c
# cache: cocoapods
# podfile: Example/Podfile
before_install:
- gem install cocoapods # Since Travis is not always on latest version
# - pod install --project-directory=Example
script:
- set -o pipefail 
- xcodebuild -version
- xcodebuild -showsdks
- xcodebuild -workspace "Example/Styles.xcworkspace" -scheme "Styles-Example" -destination "OS=11.2,name=iPhone SE" -configuration Debug ONLY_ACTIVE_ARCH=NO build | xcpretty;
- pod lib lint
